/* ------------------------------------------------------ */
.bg-main{
    background-color: rgb(252, 252, 252);
}
.bg-pr{
    background-color: rgb(33, 37, 41);
}
.font-main{
    font-family: "Comfortaa", sans-serif;
}
.font-primary{
    font-family: "Kurale", sans-serif;
}
.color-main{
    color: #0388A6;
}
.color-primary{
    color: #2D2C33;
}
.color-primary2{
    color: rgb(252, 252, 252);
}

/* ------------------------------------------------------ */

*{
    outline: none !important
    }


#imga, #imgb{
    width: 100%;
}

.header{
    box-shadow: 0 0 20px -13px black; 
    position: fixed;
 }
 .nav {
	 display: inline-flex;
	 position: relative;
	 overflow: hidden;
	 padding: 0 20px;
}
 .nav-item {
	 color: #2D2C33;
	 padding: 20px;
	 text-decoration: none;
	 transition: 0.3s;
	 margin: 0 6px;
	 z-index: 1;
	 font-family: 'Comfortaa', sans-serif;
	 font-weight: 500;
	 position: relative;
}
 .nav-item:before {
	 content: "";
	 position: absolute;
	 bottom: -6px;
	 left: 0;
	 width: 100%;
	 height: 5px;
	 background-color: #dfe2ea;
	 border-radius: 8px 8px 0 0;
	 opacity: 0;
	 transition: 0.3s;
}
 .nav-item:not(.is-active):hover:before {
	 opacity: 1;
	 bottom: 0;
}
 .nav-item:not(.is-active):hover {
	 color: #333;
}
 .nav-indicator {
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 height: 3px;
	 transition: 0.4s;
	 z-index: 1;
	 border-radius: 8px 8px 0 0;
}
 @media (max-width: 800px) {
    .nav-indicator {
       visibility: hidden;
       font-size: 20px;
   }
}

/* ------------------------------------------------------ */


.section1{
    background-image: url("img/f1-bg.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

/* --------------------------------------------------------------- */
 
.underline{
    height: 3px;
    width: 300px;
    background-color: #0388A6; 
}


.s2-disc-wrap{
    font-size: 25px;
}

 button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 text-decoration: none;
	 font-size: inherit;
	 font-family: inherit;
}
 button.learn-more {
	 font-weight: 600;
	 color: #382b22;
	 text-transform: uppercase;
	 padding: 1.25em 2em;
	 background: #ffffff;
	 border: 2px solid #0388A6;
	 border-radius: 0.75em;
	 transform-style: preserve-3d;
	 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
 button.learn-more::before {
	 position: absolute;
	 content: '';
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: #ffffff;
	 border-radius: inherit;
	 box-shadow: 0 0 0 2px #0388A6, 0 0.625em 0 0 #0388A6;
	 transform: translate3d(0, 0.75em, -1em);
	 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
 button.learn-more:hover {
	 background: #ffffff;
	 transform: translate(0, 0.25em);
}
 button.learn-more:hover::before {
	 box-shadow: 0 0 0 2px #0388A6, 0 0.5em 0 0 #0388A6;
	 transform: translate3d(0, 0.5em, -1em);
}
 button.learn-more:active {
	 background: #ffffff;
	 transform: translate(0em, 0.75em);
}
 button.learn-more:active::before {
	 box-shadow: 0 0 0 2px #0388A6, 0 0 #0388A6;
	 transform: translate3d(0, 0, -1em);
}
 

.fc{
    font-size: 25px;
}







/*-------------------------------------------------------------------------------*/

.section3{
    background-image: url("img/f2-bg.png");
    
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

.underline2{
    height: 3px;
    width: 300px;
    background-color: rgb(252, 252, 252); 
}


.mycard{
    height: 125px;
    border-radius: 60px;
    font-size: 17px;
    padding: 15px;
    transition: 0.5s;
}

.mycard:hover{
    transform: translateY(-15px);
}

.mycard i{
    font-size: 35px;
} 

@media (min-width: 600px) {
    .mycard{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

/*-------------------------------------------------------------------------*/

.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
    
  }
    
  .container {
    overflow: hidden;
  }
  
  .card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background: whitesmoke;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,0,0,.5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card.highlight {
    filter: brightness(1)
  }
  
  
  .card:nth-of-type(1) .image-container {
      background-image: url("img/img-people.png");
  }
   
  .card:nth-of-type(2) .image-container {
    background-image: url("img/img-people.png")
  }
  
  .card:nth-of-type(3) .image-container {
    background-image: url("img/img-people.png")
  }
  .card:nth-of-type(4) .image-container {
    background-image: url("img/img-people.png")
  }
  .card:nth-of-type(5) .image-container {
    background-image: url("img/img-people.png")
  }
  
  
  
  .image-container {
    width: 8em;
    height: 8em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
    
  }
  
  .image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0,0,0,.1);
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
  }
/*-------------------------------------------------------------------------------------*/

.section5{
    background-image: url("img/f3-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
/* 
.finput{
    border-radius: 10px;
    height: 45px;
    width: 100%;
}
.pinput{
    border-radius: 10px;
    width: 100%;
}


.cform-wrap button{
    width: 100%;
}


 */



 @media (max-width: 580px) {
    header{
font-size: 13px;
    }
  }




 
/*---------------------------------------------------------------------------------------------*/




